* {
margin: 0;
padding: 0;
border: 0;
box-sizing: border-box;
width: 100%;
overflow-x: hidden;
font-family: Garamond, Times, serif;
}

::-webkit-scrollbar {
    display: none;
}

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* only needed once */

:-moz-any(#content,#appcontent) browser{
 margin-right:-17px!important;
 overflow-y:scroll;
 margin-bottom:-17px!important;
 overflow-x:scroll;
}

.grid-container {
  width: 100%;
  height: auto;
  background-color: white;
  margin: 1% 21.7%;
}

.videoWrapper {
	position: relative;
	padding-bottom: 41%; /* 16:9 */
	padding-top: 25px;
  width: 56.5%;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

h3 {
  padding: 5px 15px;
  margin: 10px 0;
  font-family: Garamond, Times, serif;
  font-size: 1.17em;
  font-weight: 100;
}

p {
  padding: 10px 0 25px 0 !important;
}

a {
  padding: 5px 15px !important;
  margin: 10px 0 20px 0 !important;
  font-family: Garamond, Times, serif;
  font-size: 1.17em;
  color: #383838;
  background-color: #f0f0f0;
  text-decoration: none;
}
